$theme-color:              #e62e03 !default;
$light-theme-color: rgba(0, 169, 157, 0.02) !default;
$ex-light-theme-color: rgba(0, 169, 157, 0.01) !default;

$standard-padding:         5px !default;
$extra-padding:         10px !default;
$standard-margin:         5px !default;
$extra-margin:         10px !default;
$standard-radius:         5px !default;
